In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('AI_Resume_Screening.csv')

In [4]:
data.head()

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,1,Ashley Ali,"TensorFlow, NLP, Pytorch",10,B.Sc,NaN,AI Researcher,Hire,104895,8,100
1,2,Wesley Roman,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,3,Corey Sanchez,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,4,Elizabeth Carney,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,5,Julie Hill,"SQL, React, Java",4,PhD,NaN,Software Engineer,Hire,87441,9,100

In [5]:
data.shape

(1000, 11)

In [6]:
data.describe

<bound method NDFrame.describe of      Resume_ID              Name  \
0            1        Ashley Ali
1            2      Wesley Roman
2            3     Corey Sanchez
3            4  Elizabeth Carney
4            5        Julie Hill
..         ...               ...
995        996   Brenda Williams
996        997     Colleen Hicks
997        998   Michelle Molina
998        999     Danielle Horn
999       1000      Chad Collins

                                                Skills  Experience (Years)  \
0                             TensorFlow, NLP, Pytorch                  10
1         Deep Learning, Machine Learning, Python, SQL                  10
2                Ethical Hacking, Cybersecurity, Linux                   1
3                          Python, Pytorch, TensorFlow                   7
4                                     SQL, React, Java                   4
..                                                 ...                 ...
995              Cybersecurity, Linux, Ethical Hacking                   0
996                    Deep Learning, Machine Learning                   0
997                                    TensorFlow, NLP                   0
998  Linux, Networking, Cybersecurity, Ethical Hacking                   8
999       SQL, Machine Learning, Python, Deep Learning                   7

    Education                Certifications               Job Role  \
0        B.Sc                           NaN          AI Researcher
1         MBA                     Google ML         Data Scientist
2         MBA  Deep Learning Specialization  Cybersecurity Analyst
3      B.Tech                 AWS Certified          AI Researcher
4         PhD                           NaN      Software Engineer
..        ...                           ...                    ...
995      B.Sc                           NaN  Cybersecurity Analyst
996       MBA  Deep Learning Specialization         Data Scientist
997    B.Tech                     Google ML          AI Researcher
998       PhD                 AWS Certified  Cybersecurity Analyst
999    M.Tech  Deep Learning Specialization         Data Scientist

    Recruiter Decision  Salary Expectation ($)  Projects Count  \
0                 Hire                  104895               8
1                 Hire                  113002               1
2                 Hire                   71766               7
3                 Hire                   46848               0
4                 Hire                   87441               9
..                 ...                     ...             ...
995             Reject                  114364               9
996             Reject                  103294               5
997               Hire                  113855               9
998               Hire                   83146              10
999               Hire                  119474               3

     AI Score (0-100)
0                 100
1                 100
2                  70
3                  95
4                 100
..                ...
995                60
996                45
997                65
998               100
999               100

[1000 rows x 11 columns]>

In [43]:
data.isnull()

     Skills  Job Role
0     False     False
1     False     False
2     False     False
3     False     False
4     False     False
..      ...       ...
995   False     False
996   False     False
997   False     False
998   False     False
999   False     False

[1000 rows x 2 columns]

In [44]:
data.isnull().sum()

Skills      0
Job Role    0
dtype: int64

In [7]:
data = data.drop(columns=['Resume_ID','Name','Experience (Years)','Education','Certifications','Recruiter Decision','Salary Expectation ($)','Projects Count','AI Score (0-100)'])

In [8]:
data.head()

                                         Skills               Job Role
0                      TensorFlow, NLP, Pytorch          AI Researcher
1  Deep Learning, Machine Learning, Python, SQL         Data Scientist
2         Ethical Hacking, Cybersecurity, Linux  Cybersecurity Analyst
3                   Python, Pytorch, TensorFlow          AI Researcher
4                              SQL, React, Java      Software Engineer

In [9]:
data.shape

(1000, 2)

In [10]:
def mearge(skills_list):
    all = set()
    for skills in skills_list:
        all.update(s.strip() for s in skills.split(','))
    return ', '.join(sorted(all))

In [11]:
df = data.groupby('Job Role')['Skills'].apply(mearge).reset_index()

In [12]:
df.head

<bound method NDFrame.head of                 Job Role                                             Skills
0          AI Researcher                   NLP, Python, Pytorch, TensorFlow
1  Cybersecurity Analyst  Cybersecurity, Ethical Hacking, Linux, Networking
2         Data Scientist       Deep Learning, Machine Learning, Python, SQL
3      Software Engineer                              C++, Java, React, SQL>

In [13]:
df.shape

(4, 2)

In [14]:
df.to_csv('data.csv',index=False)

In [24]:
dataframe = pd.read_csv('data.csv')

In [25]:
dataframe.head()

                Job Role                                             Skills
0          AI Researcher                   NLP, Python, Pytorch, TensorFlow
1  Cybersecurity Analyst  Cybersecurity, Ethical Hacking, Linux, Networking
2         Data Scientist       Deep Learning, Machine Learning, Python, SQL
3      Software Engineer                              C++, Java, React, SQL
4          AI Researcher                   Python, TensorFlow, NLP, Pytorch

In [26]:
newdf = dataframe.groupby('Job Role')['Skills'].apply(mearge).reset_index()

In [27]:
newdf.head()

                 Job Role                                             Skills
0           AI Researcher  Computer Vision, GANs, Keras, NLP, Python, Pyt...
1          Cloud Engineer  AWS, Azure, Docker, GCP, Helm, Kubernetes, Ter...
2   Cybersecurity Analyst  Cybersecurity, Ethical Hacking, Firewalls, IDS...
3          Data Scientist  Data Cleaning, Data Visualization, Deep Learni...
4  Database Administrator  Cassandra, ElasticSearch, MongoDB, MySQL, Orac...

In [28]:
newdf.shape

(12, 2)

In [29]:
newdf['Skills'] = newdf['Skills'].apply(lambda x : x.lower())

In [30]:
newdf.head()

                 Job Role                                             Skills
0           AI Researcher  computer vision, gans, keras, nlp, python, pyt...
1          Cloud Engineer  aws, azure, docker, gcp, helm, kubernetes, ter...
2   Cybersecurity Analyst  cybersecurity, ethical hacking, firewalls, ids...
3          Data Scientist  data cleaning, data visualization, deep learni...
4  Database Administrator  cassandra, elasticsearch, mongodb, mysql, orac...

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [32]:
vectors = cv.fit_transform(newdf['Skills']).toarray()

In [33]:
vectors

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [34]:
cv.get_feature_names_out()

array(['angular', 'ansible', 'aws', 'azure', 'blender', 'boot',
       'cassandra', 'cd', 'chef', 'ci', 'cleaning', 'computer', 'css',
       'cybersecurity', 'dart', 'data', 'deep', 'directx', 'docker',
       'elasticsearch', 'engine', 'ethical', 'expressjs', 'firewalls',
       'flutter', 'gans', 'gcp', 'gitlab', 'godot', 'golang', 'grafana',
       'hacking', 'helm', 'html', 'ids', 'incident', 'java', 'javascript',
       'jenkins', 'js', 'kali', 'keras', 'kotlin', 'kubernetes', 'learn',
       'learning', 'linux', 'machine', 'microservices', 'mongodb',
       'mysql', 'native', 'net', 'networking', 'nextjs', 'nlp', 'node',
       'nodejs', 'objective', 'opengl', 'oracle', 'penetration',
       'postgresql', 'prometheus', 'puppet', 'python', 'pytorch', 'react',
       'reactjs', 'redis', 'reinforcement', 'response', 'sass', 'scikit',
       'server', 'siem', 'spring', 'sql', 'statistics', 'swift',
       'tailwind', 'tensorflow', 'terraform', 'testing', 'unity',
       'unreal', 'vision', 'visualization', 'vue'], dtype=object)

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity = cosine_similarity(vectors)

In [37]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3, 0.23008949665421113), (1, 0.0), (2, 0.0), (4, 0.0), (5, 0.0)]

In [38]:
def recommend(skill):
    skill_index = newdf[newdf['Job Role'] == skill].index[0]
    distance = similarity[skill_index]
    top_matches = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in top_matches:
        print(newdf.iloc[i[0]]['Job Role'])

In [39]:
recommend('Game Developer')

AI Researcher
Cloud Engineer
Cybersecurity Analyst
Data Scientist
Database Administrator

In [40]:
recommend('Full Stack Developer')

Frontend Developer
Web Developer
Database Administrator
Software Engineer
Data Scientist